<script src="/erp/files/assets/js/erp-scripts/Assets/assetdetails.js"></script>


<link rel="stylesheet"
	href="erp/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/multiselect/css/multi-select.css" />
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

<div id="assetdetailsId" data-ng-controller="AssetDetailController">

	<!--     BreadCrumb Start
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-block caption-breadcrumb">
                                                        <div class="breadcrumb-header">
                                                            <h5>Asset Details</h5>
                                                        </div>
                                                        <div class="page-header-breadcrumb">
                                                            <ul class="breadcrumb-title">
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">
                                                                        <i class="ti-home"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">Procurements</a>
                                                                </li>
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">Asset details</a>
                                                                </li>
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">Register</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        BreadCrumb End


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class=row>
                                                            <div class="col-sm-12 col-xl-4 m-b-30">
                                                                <label class="font-weight-bold">GRN ID<span class="text-danger">*</span></label>

                                                                <select class="js-example-basic-multiple col-sm-12" multiple="multiple"
						data-ng-model="data.object.grn_id" data-ng-click="getAssetDetails(data.object);getGrnItems(data.object);">
				  		<option></option>
						<option data-ng-repeat="grn in grns"
							value="{{grn.grn_id}}">{{grn.grn_id}}</option>
					</select>
                                                            </div>
                                                            <div class="col-sm-12 col-xl-3 m-b-30">
                                                                <label class="font-weight-bold">GRN Date<span class="text-danger">*</span></label>
                                                                <input type="date" class="form-control" data-ng-model="data.object.grn_date">
                                                            </div>

                                                            <div class="col-sm-12 col-xl-4 m-b-30">
                                                                <label class="font-weight-bold">Purchase order Id<span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control" data-ng-model="data.object.po_id" >
                                                            </div>
                                                            <div class="col-sm-12 col-xl-3 m-b-30">
                                                                <label class="font-weight-bold">PO Date<span class="text-danger">*</span></label>
                                                                <input type="date" class="form-control" data-ng-model="data.object.po_date">
                                                            </div>
                                                            <div class="col-sm-12 col-xl-4 m-b-30">
                                                                <label class="font-weight-bold">Vendor</label>
                                                                <input type="text" class="form-control" data-ng-model="data.object.vendor">
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header bg-primary">
                                                        <h6 class="card-title">GRN Items</h6>
                                                    </div>
                                                    <div class="card-body">


                                                        <div class="row">
                                                            <div class="col-sm-12">



                                                                <div class="dt-responsive table-responsive">
                                                                    <table id="simpletable" class="table table-striped table-bordered nowrap">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>S.No</th>
                                                                                <th>Consumables/Asset name</th>
                                                                                <th>Quantity</th>
                                                                                <th>Brand</th>
                                                                                <th>Location</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                           <tr data-ng-repeat="data in filteredResult =(grnitemdetails | filter:search)">   
        <td>{{$index+1}}</td>   
		<td>{{data.item_name}</td>  
		<td>{{data.qty}}</td>	 
		<td>{{data.brand}}</td>	 
		<td>{{data.location}}</td>	 	
	</tr>







                                                                        </tbody>

                                                                    </table>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header bg-primary">
                                                        <h6 class="card-title">GRN Items List</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="dt-responsive table-responsive">
                                                                    <table id="smetable" class="table table-striped table-bordered nowrap">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Asset Id</th>
                                                                                <th>OEM SL#</th>
                                                                                <th>Brand</th>
                                                                                <th>DOM</th>
                                                                                <th>Value</th>
                                                                                <th>Life of Asset</th>
                                                                                <th>residual Value</th>
                                                                                <th>Installation Status</th>
                                                                                <th>Installation Cost</th>
                                                                                <th>Installation Date</th>
                                                                                <th>Actual Installation Date</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Tiger Nixon</td>
                                                                                <td>System Architect</td>
                                                                                <td>Edinburgh</td>
                                                                                <td>61</td>
                                                                                <td>2011/04/25</td>
                                                                                <td>Tiger Nixon</td>
                                                                                <td>System Architect</td>
                                                                                <td>Edinburgh</td>
                                                                                <td>61</td>
                                                                                <td>2011/04/25</td>
                                                                                <td>2011/04/25</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div>



                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <div class="row">
                                                            <input type="checkbox">
                                                            <p> Do You want to submit?</p>
                                                        </div>
                                                        <table>
                                                            <tbody>
                                                                <tr>
                                                                    <td> p.o </td>
                                                                    <td><input type="file"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>GRN</td>
                                                                    <td><input type="file"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Invoice</td>
                                                                    <td><input type="file"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Approval Note</td>
                                                                    <td><input type="file"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Document Name</td>
                                                                    <td><input type="file"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </div>

                                                </div>
                                                <div class="col-sm-12 col-xl-12 m-b-30 text-center"> <button type="submit" class="btn btn-primary">Save</button></div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">

                                                    <div class="card-body">
                                                        <p>Upload File</p>
                                                        <input type="file"><button type="submit" class="btn btn-primary">Upload</button>
                                                        <div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
    <script src="erp/files/bower_components/select2/js/select2.full.min.js"></script>

    <script src="erp/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">
    </script>
    <script src="erp/files/bower_components/multiselect/js/jquery.multi-select.js"></script>


    <script src="erp/files/assets/pages/advance-elements/select2-custom.js"></script>
    <script src="erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="erp/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="erp/files/assets/pages/data-table/js/data-table-custom.js"></script>
   
    <script>
        $('#smetable').DataTable();
    </script>
 -->


	<!-- BreadCrumb Start -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-block caption-breadcrumb">
					<div class="breadcrumb-header">
						<h5>Asset Details</h5>
					</div>
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="#!"> <i
									class="ti-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Procurements</a></li>
							<li class="breadcrumb-item"><a href="#!">Asset details</a></li>
							<li class="breadcrumb-item"><a href="#!">Register</a></li>
						</ul>
					</div>
				</div>
			</div>  
		</div>
	</div>
	<!-- BreadCrumb End -->


	<div class="row">
		<div class="col-sm-12">
			<div class="card">

				<div class="card-body">
					<div class=row>
						<div class="col-sm-12 col-xl-4 m-b-30">
							<label class="font-weight-bold">GRN ID<span
								class="text-danger">*</span></label> <select class="form-control"
								data-ng-model="data.object.grn_id"
								data-ng-click="getAssetDetails(data.object);getGrnItems(data.object);">
								<option></option>
								<option data-ng-repeat="grn in grns" value="{{grn.id}}">{{grn.grn_id}}</option>
							</select>
						</div>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<label class="font-weight-bold">GRN Date<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control" data-ng-model="data.object.grn_date" readonly>
						</div>

						<div class="col-sm-12 col-xl-4 m-b-30">
							<label class="font-weight-bold">Purchase order Id<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control"
								data-ng-model="data.object.purchaseorder_id" readonly>
						</div>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<label class="font-weight-bold">PO Date<span
								class="text-danger">*</span></label> <input type="text"
								class="form-control" data-ng-model="data.object.order_date" readonly>
						</div>
						<div class="col-sm-12 col-xl-4 m-b-30">
							<label class="font-weight-bold">Vendor</label> <input type="text"
								class="form-control" data-ng-model="data.object.vendorname" readonly>
						</div>
						
						  
						<a href="/erp/html/images/SELF.docx" download><button
				id="asset" class="btn btn-primary" style="margin-left: 5%">
				<b>Asset Excel Template</b>
			</button></a>
					</div>
  
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header bg-primary">
					<h6 class="card-title">GRN Items</h6>
				</div>
				<div class="card-body">


					<div class="row">
						<div class="col-sm-12">



							<div class="dt-responsive table-responsive">
								<table id="simpletable"
									class="table table-striped table-bordered nowrap">
									<thead>
										<tr>
											<th>Select</th>
											<th>Consumables/Asset name</th>
											<th>Quantity</th>
											<th>Brand</th>
											<th>Location</th>

			  							</tr>
									</thead>
									<tbody>
											<tr data-ng-repeat="data in filteredResult =(grnitemdetails | filter:search)">
												
											<td><input type="checkbox" data-toggle="modal"
												data-target="#large-Modal" data-ng-click=""></td>
												<td>{{data.assets}}</td>
												<td>{{data.qty}}</td>
												<td>{{data.brand}}</td>
												<td>{{data.location}}</td>
												
											</tr>
									</tbody>

								</table>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header bg-primary">
                                                        <h6 class="card-title">GRN Items List</h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="dt-responsive table-responsive">
                                                                    <table id="smetable" class="table table-striped table-bordered nowrap">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Asset Id</th>
                                                                                <th>OEM SL#</th>
                                                                                <th>Brand</th>
                                                                                <th>DOM</th>
                                                                                <th>Value</th>
                                                                                <th>Life of Asset</th>
                                                                                <th>residual Value</th>
                                                                                <th>Installation Status</th>
                                                                                <th>Installation Cost</th>
                                                                                <th>Installation Date</th>
                                                                                <th>Actual Installation Date</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Tiger Nixon</td>
                                                                                <td>System Architect</td>
                                                                                <td>Edinburgh</td>
                                                                                <td>61</td>
                                                                                <td>2011/04/25</td>
                                                                                <td>Tiger Nixon</td>
                                                                                <td>System Architect</td>
                                                                                <td>Edinburgh</td>
                                                                                <td>61</td>
                                                                                <td>2011/04/25</td>
                                                                                <td>2011/04/25</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div> -->



	<div class="row">
		<div class="col-sm-12">
			<div class="card">

				<div class="card-body">
					<div class="row">
						<input type="checkbox">
						<p>Do You want to submit?</p>
					</div>
					<table>
						<tbody>
							<tr>
								<td>p.o</td>
								<td><input type="file"></td>
							</tr>
							<tr>
								<td></td>
							</tr>
							<tr>
								<td>GRN</td>
								<td><input type="file"></td>
							</tr>
							<tr>
								<td>Invoice</td>
								<td><input type="file"></td>
							</tr>
							<tr>
								<td>Approval Note</td>
								<td><input type="file"></td>
							</tr>
							<tr>
								<td>Document Name</td>
								<td><input type="file"></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
			<div class="col-sm-12 col-xl-12 m-b-30 text-center">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">

				<div class="card-body">
					<p>Upload File</p>
					<input type="file">
					<button type="submit" class="btn btn-primary">Upload</button>
					<div></div>
				</div>
			</div>
		</div>
	</div>
  


	<!-- modal -->
	<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-primary">Update</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-primary" style="border-color: #4099ff;">
								<div class="panel-body p-3">
									<div class="row">

										<div class="col-sm-12">
											<div class="card">
												<div class="card-header bg-primary">
													<h6 class="card-title">GRN Items List</h6>
												</div>
												<div class="card-body">
													<div class="row">
														<div class="col-sm-12">
															<div class="dt-responsive table-responsive">
																<table id="smetable"
																	class="table table-striped table-bordered nowrap">
																	<thead>
																		<tr>
																			<th>Asset Id</th>
																			<th>OEM SL#</th>
																			<th>Brand</th>
																			<th>DOM</th>
																			<th>Value</th>
																			<th>Life of Asset</th>
																			<th>Residual Value</th>
																			<th>Installation Status</th>
																			<th>Installation Cost</th>
																			<th>Installation Date</th>
																			<th>Actual Installation Date</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>#</td>
																			<td><input type="text" data-ng-model=""
																				placeholder="value"></td>
																			<td>{{data.brand}}</td>
																			<td><input type="date" data-ng-model=""></td>
																			<td>{{data.value}}</td>
																			<td><input type="text" data-ng-model=""
																				placeholder="value"></td>
																			<td><input type="text" data-ng-model=""
																				placeholder="value"></td>
																			<td>Edinburgh</td>
																			<td>61</td>
																			<td>2011/04/25</td>
																			<td>2011/04/25</td>
																		</tr>

																	</tbody>
																</table>
															</div>

														</div>

													</div>

												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




</div>





<script src="/erp/files/bower_components/jquery/js/jquery.min.js"></script>
<script src="/erp/files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script src="/erp/files/bower_components/popper.js/js/popper.min.js"></script>
<script src="/erp/files/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script
	src="/erp/files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script src="/erp/files/bower_components/modernizr/js/modernizr.js"></script>
<script src="/erp/files/bower_components/modernizr/js/css-scrollbars.js"></script>
<script src="/erp/files/bower_components/select2/js/select2.full.min.js"></script>

<script
	src="/erp/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">
	
</script>
<script
	src="/erp/files/bower_components/multiselect/js/jquery.multi-select.js"></script>


<script src="/erp/files/assets/pages/advance-elements/select2-custom.js"></script>
<script
	src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>
<script>
	$('#smetable').DataTable();
</script>
</body>

</html>



<script>
		jQuery(document).ready(function() { 
			angular.bootstrap(jQuery("#assetdetailsId"), [ 'assetDet' ]);
		});
	</script>
