 <script
	src="/erp/files/assets/js/erp-scripts/operationAdmin/ledgerhead.js"></script>
	


    <link rel="stylesheet" type="text/css" href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

<div  id="ledgerheadId" data-ng-controller="ledgerheadController">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="card-title">Create General Ledger Head</h4>
                                                <div class="card">
                                                    <div class="card-header">

                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                           

                                                            <div class="col-sm-12 col-xl-3 m-b-30">General Ledger Head Name
                                                                <input class="form-control" type="text" data-ng-model = "data.object.name" placeholder="Enter General Ledger Head Name" />
                                                            </div>


                                                          

                                                            <div class="col-sm-12 col-xl-3 m-b-30">Description
                                                                <textarea rows="1" cols="5" class="form-control" data-ng-model = "data.object.description"  placeholder="Enter Description"></textarea>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xl-12 m-b-30 text-center">
                                        <button class="btn btn-primary" data-ng-click = "addledgerhead(data.object);">Submit</button>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>General Ledger Heads</h4>
                                            <div class="card">

                                                <div class="card-header"></div>
                                                <div class="card-body">
                                                    <div class="dt-responsive table-responsive">
                                                        <table class="table table-hover table-bordered" id="simpletable">
                                                            <thead class="btn-grd-primary">
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th> Name</th>
                                                                    <th>Description</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr data-ng-repeat="data in filteredResult =(ledgerheaddetails | filter:search)">  
									<td>{{$index+1}}</td>
									<td>{{data.name}}</td>
									<td>{{data.description}}</td> 
								
									<td>{{data.status}}</td>
                                                                    <td><button class="btn  ver-grd waves-effect" data-toggle="modal" data-target="#large-Modal"  data-ng-click="getByIdledgerhead(data.name)"><i class="ti-pencil-alt text-primary"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Update</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                <div class="card-body">
                                                                    <div class="row">

                                                                       

                                                                        <div class="col-sm-12 col-xl-3 m-b-30">General Ledger Head Name
                                                                            <input class="form-control" type="text" placeholder="Enter General Ledger Head Name" data-ng-model = "data.object.name" />
                                                                        </div>




                                                                     

                                                                        <div class="col-sm-12 col-xl-3 m-b-30">Description
                                                                            <textarea rows="5" cols="5" class="form-control" data-ng-model = "data.object.description"  placeholder="Enter Description"></textarea>
                                                                        </div>




                                                                       
                                                                        <div class="col-sm-12 col-xl-3 m-b-30">Status
                                                                            <select name="select" class="form-control" data-ng-model = "data.object.status">
											   			<option value = "active">Active</option>
											   			<option value = "inactive">In-Active</option>
                                                                                
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary waves-effect waves-light" data-ng-click="updateDataledgerhead(data.object)">Submit</button>
                                                                    </div>


                                                                    <!--  Modal End -->








                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


   
   
    <!-- Data Table -->
    <script src="/erp/files/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>

  <script>    
		jQuery(document).ready(function() { 
			angular.bootstrap(jQuery("#ledgerheadId"), [ 'ledgerheadModule' ]);
		});
	</script>

    <script>
        $('#simpletable1').DataTable();
    </script>

