<script
	src="/erp/files/assets/js/erp-scripts/Claimmanagement/TeamClaims/advancelistpendingView.js"></script>

<!-- Data Tables -->
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
	
<div id="advancelistviewID"
	data-ng-controller="AdvanceListviewController">
	<!-- BreadCrumb Start -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-block caption-breadcrumb">
					<div class="breadcrumb-header">
						<h5>Advance List</h5>
					</div>
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="#!"> <i
									class="ti-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Claim
									Management</a></li>
							<li class="breadcrumb-item"><a href="#!">Team Claims</a></li>
							<li class="breadcrumb-item"><a href="#!">Advance List</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BreadCrumb End -->

	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div style="margin-top: 35px;"
						class="panel panel-heading media mar_t2 ">
						<div class="media-left ">
							<img height="81 " width="81 " style="border: 2px solid #ccc;"
								class="media-object img-circle " alt=" "
								src="/files/assets/images/default_Muser.png ">
						</div>
						<div class="media-body ">
							<h5 style="margin: 0; padding: 0; font-weight: 400;">Admin</h5>
							<small>Emp.ID : AO0116397 </small><br> <small>Designation
								: Administrative Officer </small><br> <small>Work Location
								: APSSDC Head Office </small><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Claim ID</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.claim_advance_id}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Purpose Of Request</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.purposename}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Applied On</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.created_date}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Amount</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.amount}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">From Date</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.from_date}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">To Date</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.to_date}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Status</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.approvestatus}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Project</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.project_name}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Next Approver</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.next_approver}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Description</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<label class="font-weight-bold">:</label>&nbsp;&nbsp;&nbsp;{{data.object.description}}
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label>&nbsp;</label>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xs-12 mt-1">
							<label class="font-weight-bold">Cost Center</label>
						</div>
						<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xs-12 mt-1">
							<select class = "form-control" data-ng-model = "data.object.cost_center">
								<option data-ng-repeat="cost_center in cost_centers" value="{{cost_center.id}}">{{cost_center.name}}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header bg-primary">
					<h6 class="card-title">Advance Claim History</h6>
				</div>
				<div class="card-body">
					<div class="dt-responsive table-responsive">
						<table class="table table-striped table-bordered nowrap">
							<thead class="btn-grd-primary">
								<tr>
									<th valign="middle"
										style="vertical-align: middle !important; min-width: 50px; max-width: 50px;"
										class="text-center">S.No</th>
									<th valign="middle"
										style="vertical-align: middle !important; min-width: 200px; max-width: 200px;"
										class="text-center">Date</th>
									<th valign="middle"
										style="vertical-align: middle !important; min-width: 200px; max-width: 200px;"
										class="text-center">Name</th>
									<th valign="middle"
										style="vertical-align: middle !important; min-width: 200px; max-width: 200px;"
										class="text-center">Status</th>
									<th valign="middle"
										style="vertical-align: middle !important; min-width: 100px; max-width: 100px;"
										class="text-center">Comments</th>
								</tr>
							<tbody>
								<tr data-ng-repeat="viewpending in viewpagedetails">
									<td valign="middle" style="vertical-align: middle !important;"
										class="text-center">{{$index+1}}</td>
									<td valign="middle" style="vertical-align: middle !important;"
										class="text-center">{{viewpending.created_date}}</td>
									<td valign="middle" style="vertical-align: middle !important;"
										class="text-center">{{viewpending.name}}</td>
									<td valign="middle" style="vertical-align: middle !important;"
										class="text-center">{{viewpending.approvestatus}}</td>
									<td valign="middle" style="vertical-align: middle !important;"
										class="text-center">--</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xs-12 mt-1">
							<label>Payment Type&nbsp;&nbsp;<span class="text-danger">*</span>
								:
							</label> <select class="form-control">
								<option>Select</option>
								<option value="cash">Cash</option>
								<option value="bank">Bank</option>
							</select>
						</div>
						<div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xs-12 mt-1">
							<label>GL Account&nbsp;&nbsp;<span class="text-danger">*</span>
								:
							</label> <select class="form-control">
								<option>Select</option>
								<option value="cash">Cash</option>
								<option value="bank">Bank</option>
							</select>
						</div>
					</div>
					<h7>&nbsp;</h7>
					<div class="row">
						<div
							class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xs-12 mt-1 text-center">
							<button class="btn btn-success btn-sm" data-ng-click = "Approveadvanceclaim(data.object);">Release</button>
							<button class="btn btn-danger btn-sm">Reject</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Data Tables -->
<script
	src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js "></script>
<script src="/erp/files/assets/pages/data-table/js/jszip.min.js "></script>
<script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js "></script>
<script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js "></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js "></script>

<script
	src="/erp/files/assets/pages/data-table/js/data-table-custom.js "></script>


<script>
	jQuery(document).ready(function() {
		angular.bootstrap(jQuery("#advancelistviewID"), [ 'advancelistpendingView' ]);
	});
</script>