
<script
	src="/erp/files/assets/js/erp-scripts/HRMS/EmployeeSelfServices/ontravelrequest.js"></script>

<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">


<div id="ontravelrequestId" data-ng-controller="OntravelController">
	<!-- BreadCrumb Start -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-block caption-breadcrumb">
					<div class="breadcrumb-header">
						<h5>On Travel Request</h5>
					</div>
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="#!"> <i
									class="ti-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#!">HRMS</a></li>
							<li class="breadcrumb-item"><a href="#!">Employee Self
									Services</a></li>
							<li class="breadcrumb-item"><a href="#!">On Travel
									Request</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BreadCrumb End -->
	<!-- Content Starts Here -->
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header bg-primary">
					<h6 class="card-title">Employee On Travel Request</h6>
				</div>
				<div class="card-body">
					<div class="row">
						<label class="col-sm-3 col-form-label">Start Date</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input class="form-control" type="date"
								data-ng-model="data.object.start_date" />
						</div>
						<label class="col-sm-3 col-form-label">End Date</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input class="form-control" type="date"
								data-ng-model="data.object.end_date" />
						</div>
						<label class="col-sm-3 col-form-label">Nature Of
							Assignment</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input type="text" class="form-control"
								placeholder="Enter Nature Of Assignment"
								data-ng-model="data.object.nature_of_assignment">
						</div>
						<label class="col-sm-3 col-form-label">Location</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input type="text" class="form-control"
								placeholder="Enter Location"
								data-ng-model="data.object.location ">
						</div>
						<label class="col-sm-3 col-form-label">Project</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<!--  <input type="text" class="form-control" placeholder="Enter Project" data-ng-model="data.object.project"> -->
							<select class="form-control" data-ng-model="data.object.project">
								<option>--Select--</option>
								<option data-ng-repeat="project in projects"
									value="{{project.project_name}}">{{project.project_name}}</option>
							</select>
						</div>
						<label class="col-sm-3 col-form-label">Reporting To</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input type="text" class="form-control"
								data-ng-model="traveldetails.object.reporting_to" disabled>
						</div>
						<label class="col-sm-3 col-form-label">On Travel Contact</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<input type="text" class="form-control"
								placeholder="Enter OnDuty Contact"
								data-ng-model="data.object.ontravel_contact">
						</div>
						<div class="col-sm-12 col-xl-3 m-b-30">
							On Travel Reporting To <label class="col-sm-3 col-form-label"></label>
						</div>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<select name="select" class="form-control"
								data-ng-model="data.object.ontravel_reporting_to">
								<option data-ng-repeat="report in reportings"
									value="{{report.empid}}">{{report.fullname}}</option>
							</select>
						</div>
						<label class="col-sm-12 col-form-label">Description</label>
						<div class="col-sm-12 col-xl-3 m-b-30">
							<textarea rows="5" cols="5" class="form-control"
								data-ng-model="data.object.description"
								placeholder="Enter Description"></textarea>
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12 mt-4 text-center">
			<button class="btn btn-grd-primary hor-grd text-center"
				data-ng-click="addontravel(data.object);">Submit</button>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<div class="dt-responsive table-responsive">
						<table id="order-table"
							class="table table-striped table-bordered nowrap">
							<thead class="btn-grd-primary">
								<tr>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Location</th>
									<th>Project</th>
									<th>Nature Of Assignment</th>
									<th>Status</th>
									<th>View Documents</th>
									<th>Actions</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="sdata in ontraveldetails">

									<td>{{sdata.start_date}}</td>
									<td>{{sdata.end_date}}</td>
									<td>{{sdata.location}}</td>
									<td>{{sdata.project}}</td>
									<td>{{sdata.nature_of_assignment}}</td>
									<td>{{sdata.ontravel_request_status}}</td>
									<td><button class="btn btn-grd ver-grd waves-effect"
											data-toggle="modal" data-target="#large-Modal">
											<i class="ti-files text-primary"></i>
										</button></td>
									<td><button class="btn  ver-grd waves-effect"
											data-toggle="modal" data-target="#large-Modal2"
											data-ng-click="getById2(sdata);">
											<i class="ti-pencil-alt text-primary"></i>
										</button>
										<button class="btn ver-grd btn-sm">
											<i class="ti-close text-danger"
												data-ng-click="updateData2Cancel(data);"></i>
										</button></td>
									<td>
										<button class="btn  ver-grd waves-effect" data-toggle="modal"
											data-target="#large-Modal3" data-ng-click="getById2(sdata);">
											<i class="ti-eye text-primary"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="large-Modal2" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Employee On Travel Request</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<label class="col-sm-3 col-form-label">Start Date</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input class="form-control" type="text"
												data-ng-model="traveldetails.object.start_date" />
										</div>
										<label class="col-sm-3 col-form-label">End Date</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input class="form-control" type="text"
												data-ng-model="traveldetails.object.end_date" />
										</div>
										<label class="col-sm-3 col-form-label">Nature Of
											Assignment</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												placeholder="Enter Nature Of Assignment"
												data-ng-model="traveldetails.object.nature_of_assignment ">
										</div>
										<label class="col-sm-3 col-form-label">Location</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												placeholder="Enter Location"
												data-ng-model="traveldetails.object.location">
										</div>
										<label class="col-sm-3 col-form-label">Project</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<select class="form-control"
												data-ng-model="traveldetails.object.project">
												<option>--Select--</option>
												<option data-ng-repeat="project in projects"
													value="{{project.project_name}}">{{project.project_name}}</option>
											</select>
										</div>
										<label class="col-sm-3 col-form-label">Reporting To</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.reporting_to">
										</div>
										<label class="col-sm-3 col-form-label">On Travel
											Contact</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												placeholder="Enter OnDuty Contact"
												data-ng-model="traveldetails.object.ontravel_contact ">
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											On Travel Reporting To <label class="col-sm-3 col-form-label"></label>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<select class="form-control"
												data-ng-model="traveldetails.object.ontravel_reporting_to">
												<option data-ng-repeat="report in reportings"
													value="{{report.empid}}">{{report.fullname}}</option>
											</select>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											Requested Date <label class="col-sm-3 col-form-label"></label>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.created_date">
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											Status <label class="col-sm-3 col-form-label"></label>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.ontravel_request_status">
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<label class="col-sm-12 col-form-label">Description</label>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<textarea rows="5" cols="5" class="form-control"
												placeholder="Enter Description Here"
												data-ng-model="traveldetails.object.description"></textarea>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<label class="col-sm-12 col-form-label">Comments</label>
										</div>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<textarea rows="5" cols="5" class="form-control"
												placeholder="Enter Comments Here"
												data-ng-model="traveldetails.object.comments"></textarea>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default waves-effect "
											data-dismiss="modal">Close</button>
										<button type="button"
											class="btn btn-primary waves-effect waves-light "
											data-ng-click="updateData2(traveldetails.object);">Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modify Modal End -->

	<!-- Modal For View Documents -->
	<div class="modal fade" id="large-Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">View Documents</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="dt-responsive table-responsive">
										<table id="simpletable1"
											class="table table-hover table-bordered nowrap">
											<thead class="btn-grd-primary">
												<tr>
													<th>Document Name</th>
													<th>Download</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>{{data.docname}}</td>
													<td><button class="btn btn-grd-primary ver-grd btn-sm">
															<i class="ti-arrow-down"></i>Download
														</button></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal  For Modify -->



	<!-- Modal  For View -->
	<div class="modal fade" id="large-Modal3" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Employee On Travel Request</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<label class="col-sm-3 col-form-label">Start Date</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input class="form-control" type="text"
												data-ng-model="traveldetails.object.start_date" disabled />
										</div>
										<label class="col-sm-3 col-form-label">End Date</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input class="form-control" type="text"
												data-ng-model="traveldetails.object.end_date" disabled />
										</div>
										<label class="col-sm-3 col-form-label">Nature Of
											Assignment</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.nature_of_assignment "
												disabled>
										</div>
										<label class="col-sm-3 col-form-label">Location</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.location" disabled>
										</div>
										<label class="col-sm-3 col-form-label">Project</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.project" disabled>
										</div>
										<label class="col-sm-3 col-form-label">Reporting To</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.reporting_to" disabled>
										</div>
										<label class="col-sm-3 col-form-label">On Duty Contact</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.ontravel_contact"
												disabled>
										</div>
										<label class="col-sm-3 col-form-label">On Duty
											Reporting To</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.ontravel_reporting_to"
												disabled>
										</div>
										<label class="col-sm-3 col-form-label">Requested Date</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.created_date" disabled>
										</div>
										<label class="col-sm-3 col-form-label">Status</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.ontravel_request_status"
												disabled>
										</div>
										<label class="col-sm-12 col-form-label">Description</label>
										<div class="col-sm-12 col-xl-3 m-b-30">
											<input type="text" class="form-control"
												data-ng-model="traveldetails.object.description" disabled>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default waves-effect "
											data-dismiss="modal">Close</button>
										<!-- <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- View Modal End -->



</div>









































<script
	src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>

<script>                        
		jQuery(document).ready(function() {         	
  			 angular.bootstrap(jQuery("#ontravelrequestId"), [ 'ontravelrequest' ]); 
	    });
		
	</script>