

    <link rel="stylesheet" type="text/css" href="/erp/files/assets/css/sweetalert.css">
    <link rel="stylesheet" href="/erp/files/bower_components/select2/css/select2.min.css" />

    <link rel="stylesheet" type="text/css" href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/erp/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/erp/files/assets/css/jquery.mCustomScrollbar.css">



                                        <!-- BreadCrumb Start -->
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-block caption-breadcrumb">
                                                        <div class="breadcrumb-header">
                                                            <h5>E-communication
                                                                <h5>
                                                        </div>
                                                        <div class="page-header-breadcrumb">
                                                            <ul class="breadcrumb-title">
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">
                                                                        <i class="ti-home"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">E-Communications</a>
                                                                </li>
                                                                <li class="breadcrumb-item">
                                                                    <a href="#!">Notification Mobile</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- BreadCrumb End -->



                                        <h4>Create Notification Groups</h4>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-block caption-breadcrumb">


                                                        <div>
                                                            <label>Group Name</label> <input type="text" class="form-control"
						   						data-ng-model="data.object.group_name">
                                                            <div class="col-sm-12 col-xl-12 m-b-30 text-center"> <button type="submit" class="btn btn-primary" data-ng-click="registration(data.object);">submit</button></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div class="card">

                                                <div class="card-header"></div>
                                                <div class="card-body">
                                                    <div class="dt-responsive table-responsive">
                                                        <table class="table table-hover table-bordered" id="simpletable">
                                                            <thead class="btn-grd-primary">
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Group Name</th>
                                                                    <th>Status</th>
                                                                    <th>Members</th>
                                                                    <th>Action</th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>

                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary">Add Members</button>
                                                                    </td>
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary">Update</button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



    <script src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
    <script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script> 

    <script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>
 
    <script src="/erp/files/bower_components/select2/js/select2.full.min.js"></script>

    <script src="/erp/files/bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js">
    </script>
    <script src="/erp/files/bower_components/multiselect/js/jquery.multi-select.js"></script>


    <script src="/erp/files/assets/pages/advance-elements/select2-custom.js"></script>
        
  
    <script>
        $('#simpletable1').DataTable();
    </script>

</body>

</html>