
<script src="/erp/files/assets/js/erp-scripts/HRMS/EmployeeSelfServices/LeaveManagement/applyleave.js"></script>
<link rel="stylesheet" href="/erp/files/assets/pages/chart/radial/css/radial.css" type="text/css" media="all">
<link rel="stylesheet" href="/erp/files/bower_components/select2/css/select2.min.css" />
<link rel="stylesheet" type="text/css" href="/erp/files/bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
<link rel="stylesheet" type="text/css" href="/erp/files/bower_components/multiselect/css/multi-select.css" />

<div id="applyId" data-ng-controller="applyController">
	<!-- BreadCrumb Start -->
	<div class="row">
		<div class="col-sm-12">     
			<div class="card">
				<div class="card-block caption-breadcrumb">
					<div class="breadcrumb-header">
						<h5>Apply Leave</h5>
					</div>
					<div class="page-header-breadcrumb">
						<ul class="breadcrumb-title">
							<li class="breadcrumb-item"><a href="#!"> <i
									class="ti-home"></i>
							</a></li>
							<li class="breadcrumb-item"><a href="#!">Employee Self
									Services</a></li>
							<li class="breadcrumb-item"><a href="#!">Leave
									Management</a></li>
							<li class="breadcrumb-item"><a href="#!">Apply Leave</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BreadCrumb End -->


	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">

					<div class="row">
						<div class="col-md-6 col-xl-3">
							<div class="card bg-c-blue notification-card">
								<div class="card-block">
									<div class="row align-items-center">
										
										<div class="col-12 notify-cont text-right p-2">
											<p>Availed Leaves</p>
											<h4>{{data13.object.availed_leaves}}</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="card bg-c-blue notification-card">
								<div class="card-block">
									<div class="row align-items-center">
										
										<div class="col-12 notify-cont text-right p-2">
											<p>Leave Balance</p>
											<h4>{{data13.object.leave_balance}}</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-xl-3">
							<div class="card bg-c-blue notification-card">
								<div class="card-block">
									<div class="row align-items-center">
										
										<div class="col-12 notify-cont text-right p-2">
											<p>Total Credits</p>
											<h4>{{data13.object.leaves_eligible}}</h4>
										</div>
									</div>
								</div>
							</div>  
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 col-xl-3 m-b-30">
							<h4 class="sub-title">
								Leave Type<span class="text-danger">*</span>
							</h4>
							<select
					class="form-control" data-ng-model="data.object.leave_type">
					
					<option data-ng-repeat="leave in leavetypes" value="{{leave.id}}">{{leave.type}}</option>
				</select>
						</div>

						<div class="col-sm-12 col-xl-3 m-b-30">
							<h4 class="sub-title">
								Contact No.while on Leave<span class="text-danger">*</span>
							</h4>
							<input type="text" id="date1" class="form-control"
					placeholder="Enter contact Number"
					pattern="^[9|7|8|6][0-9]{9}" maxlength="10"
					data-ng-model="data.object.emergency_number" />
						</div>
					</div>
					<div class="row">

						<div class="col-sm-12 col-xl-3 m-b-30">
							<h4 class="sub-title">
								From Date<span class="text-danger">*</span>
							</h4>
						<input
					type="date" class="form-control" id="from" name="fromdate"
					data-ng-model="data.object.from_date" />
						</div>

						<div class="col-sm-12 col-xl-3 ">
							<h4 class="sub-title">
								To Date<span class="text-danger">*</span>
							</h4> 
							 <input
					type="date" class="form-control" id="to" name="todate"
					data-ng-model="data.object.to_date" data-ng-change="getCalendarDetails(data.object)" required true/>
					
			</div>
						</div>

						<div class="col-sm-6 col-xl-4 ">
							<h4 class="sub-title">Reporting To</h4>
							<input
					type="text" class="form-control" placeholder="Enter To"
					data-ng-model="data.object.reporting_to" disabled />
						</div>

						<div class="col-sm-12 col-xl-6 m-b-30">
							<h4 class="sub-title">
								Reason<span class="text-danger">*</span>
							</h4>
							<textarea cols="30" rows="2" class="form-control"
					placeholder="Enter Description" data-ng-model="data.object.reason"></textarea>
						</div>
								 <div class="row" id="table" data-ng-hide="data.object.leave_type=='4'">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<div class="dt-responsive table-responsive">
						<table id="order-table"
							class="table table-striped table-bordered nowrap">
							<thead class="btn-grd-primary">
								<tr style='background-color: CornflowerBlue'>
								<th align="left">Date</th>
								<th align="left">Day</th>
								 <th align="left">Session</th>
                            </tr>
							</thead>
							<tbody> 
								<tr data-ng-repeat="x in calendardetails"> 
								<td>{{x.day}}</td>  
					            <td>{{x.dayname}}</td>
								  <td>  
								  <input type="radio"  id="1" value="0" data-ng-model="data.object.leave_nature" checked="checked"><label>Session1</label>
									<input type="radio" id="2" value="1" data-ng-model="data.object.leave_nature" checked="checked"><label>Session2</label>
									 <input type="radio" id="3" value="2" data-ng-model="data.object.leave_nature" checked="checked"><label>FullDay</label>
								</td>
								
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <div class="row" id="table1" data-ng-show="data.object.leave_type=='4'">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<div class="dt-responsive table-responsive">
						<table id="order-table"       
							class="table table-striped table-bordered nowrap">
							<thead class="btn-grd-primary">
								<tr style='background-color: CornflowerBlue'>
								<th align="left">Date</th>
								<th align="left">Working On</th>
								 <th align="left">Session</th>
                            </tr>
							</thead>   
							<tbody>
								<tr data-ng-repeat="x in validatedetails"> 
								<td>{{x.day}}</td>  
					            <td><input type="date" data-ng-model="data.object.comp_date" data-ng-click="ValidateComp(data.object);"></td>
								  <td>  
								  <input type="radio"  id="1" value="0" data-ng-model="data.object.leave_nature" checked="checked"><label>Session1</label>
									<input type="radio" id="2" value="1" data-ng-model="data.object.leave_nature" checked="checked"><label>Session2</label>
									 <input type="radio" id="3" value="2" data-ng-model="data.object.leave_nature" checked="checked"><label>FullDay</label>
								</td>
								
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <div class="row" id="tableflexi" data-ng-show="data.object.leave_type=='6'">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<div class="dt-responsive table-responsive">
						<table id="order-table"
							class="table table-striped table-bordered nowrap">
							<thead class="btn-grd-primary">
								<tr>
								<th>Date</th>
								<th>Holiday Name</th>
								 <th>Select</th>
                            </tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="x in FlexiHolidays"> 
								<td>{{x.date}}</td>  
					            <td>O.H({{x.description}})</td>
								  <td> 
								<input type="checkbox" data-ng-model="flexidateArr[x.date]" data-ng-checked="allSelected()">
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
			
				<div class="form-group row">
					
					<div class="col-md-4">
						<label>Documents</label>
						<div class="col-md-2"></div>
						<input type="file"id="myFile" class="form-control"
							data-ng-model="data.object.file_name"
							onchange = "angular.element(this).scope().uploadFiles(this)" 
							accept="image/*">

					</div>
				</div>    
				 <div data-ng-show="data.object.leave_type=='1'">
				<div class="form-group row">
				<div class="col-md-6">
					<button class="btn btn-primary" value="create"
						 data-ng-click="insertion(data.object);">Apply
						Leave</button>
				</div>
			</div>
			</div>
			 
			 <div data-ng-show="data.object.leave_type=='6'">
			 <div class="form-group row">
				<div class="col-md-6">
					<button  class="btn btn-primary" value="create"
						style="margin-left: 30%" data-ng-click="insertionFlexi(data.object,flexidateArr,FlexiHolidays,FlexiCount);">Apply
						Leave</button>
				</div>          
			</div>
			</div>  			
			 <div data-ng-show="data.object.leave_type=='4'">
			<div class="form-group row">
				<div class="col-md-6">
					<button  class="btn btn-primary" value="create"
						style="margin-left: 30%" data-ng-click="insertionComp(data.object);">Apply
						Leave</button>
				</div>
			</div>
			</div>  			
				 <div data-ng-show="data.object.leave_type=='5'">
			<div class="form-group row">
				<div class="col-md-6">
					<button  class="btn btn-primary" value="create"
						style="margin-left: 30%"  data-ng-click="insertion(data.object);">Apply Leave</button>
				</div>
			</div>
			</div>  			
				 <div data-ng-show="data.object.leave_type=='3'">
			<div class="form-group row">
				<div class="col-md-6">
					<button  class="btn btn-primary" value="create"
						style="margin-left: 30%"  data-ng-click="insertion(data.object);">Apply
						Leave</button>
				</div>
			</div>
			</div>
			 <div data-ng-show="data.object.leave_type=='2'">
			<div class="form-group row">
				<div class="col-md-6">
					<button  class="btn btn-primary" value="create"
						style="margin-left: 30%"  data-ng-click="insertion(data.object);">Apply Leave</button>
				</div>
			</div>
			</div>  			
				
			</div>
		</div>
</div>
	</div>
	
</div>
<!-- <script>
	$('input[type="file"]').change(function(e) {
		var fileName = e.target.files[0].name;
		alert('The file "' + fileName + '" has been selected.');
	});
</script> -->
<script>
	jQuery(document).ready(function() {
		$("#table").hide();
		angular.bootstrap(jQuery("#applyId"), [ 'applyleave']);
	});  
	jQuery("#to").click(function() {
		$("#table").show();
		
	});
	
 </script>