
<script
	src="/erp/files/assets/js/erp-scripts/HRMS/Attendance/attendanceReportModule.js"></script>

<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
<div id="attendanceReportDiv"
	data-ng-controller="attendanceReportController">

	<div id="attendance">
		<!-- BreadCrumb Start -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-block caption-breadcrumb">
						<div class="breadcrumb-header">
							<h5>Attendance Report</h5>
						</div>
						<div class="page-header-breadcrumb">
							<ul class="breadcrumb-title">
								<li class="breadcrumb-item"><a href="#!"> <i
										class="ti-home"></i>
								</a></li>
								<li class="breadcrumb-item"><a href="#!">HRMS</a></li>
								<li class="breadcrumb-item"><a href="#!">Attendance
										Management</a></li>
								<li class="breadcrumb-item"><a href="#!">Attendance
										Report</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BreadCrumb End -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header bg-primary">
						<h6 class="card-title">Attendance Report-Login/Logout</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12 col-xl-2 m-b-30">
								From Date <label class="col-sm-3x col-form-label"></label>
							</div>

							<div class="col-sm-12 col-xl-4 m-b-30">
								<input type="date" id="from" class="form-control"
									name="fromdate" data-ng-model="data.object.from_date">
							</div>
							<div class="col-sm-12 col-xl-2 m-b-30">
								To Date <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="col-sm-12 col-xl-4 m-b-30">
								<input type="date" id="to" class="form-control" name="todate"
									data-ng-model="data.object.to_date">
							</div>
							<div class="col-sm-12 col-xl-2 m-b-30">
								Department <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="col-sm-12 col-xl-4 m-b-30">
								<select name="department" class="form-control"
									data-ng-model="departmentid">
									<option></option>
									<option data-ng-repeat="department in departments"
										value="{{department.id}}">{{department.department_name}}</option>
								</select>
							</div>
							<div class="col-sm-12 col-xl-2 m-b-30">
								Designation <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="col-sm-12 col-xl-4 m-b-30">
								<select name="designation" class="form-control"
									data-ng-model="designation_id">
									<option></option>
									<option data-ng-repeat="designation in designations"
										value="{{designation.id}}">{{designation.designation_name}}</option>
								</select>
							</div>
							<div class="col-sm-12 col-xl-2 m-b-30">
								Staff Type <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="col-sm-12 col-xl-4 m-b-30">
								<select name="stafftype" class="form-control" data-ng-model="id">

									<option></option>
									<option data-ng-repeat="staff in staffs" value="{{staff.id}}">{{staff.type}}</option>
								</select>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xl-12 m-b-30 text-center">
		<button class="btn btn-default" style="margin-bottom: 15px;"
			value="submit" type="submit" id="s1"
			data-ng-click="getCalendarDetailsdet(data.object);">Find</button>
	</div>
	</div>


	<div id="display">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">

						<div class="row">
							<div class="col-sm-12 col-xl-3 m-b-30">
								From Date: <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="form-group col-md-2">{{data.object.from_date |
								date:"dd-MM-yyyy"}}</div>


							<div class="col-sm-12 col-xl-3 m-b-30">
								To Date: <label class="col-sm-3 col-form-label"></label>
							</div>

							<div class="form-group col-md-2">{{data.object.to_date |
								date:"dd-MM-yyyy"}}</div>

							<div class="col-sm-12 col-xl-3 m-b-30">
								Department: <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="form-group col-md-2">{{departmentid}}</div>

							<div class="col-sm-12 col-xl-3 m-b-30">
								Designation: <label class="col-sm-3 col-form-label"></label>
							</div>
							<div class="form-group col-md-2">{{designation_id}}</div>

							<div class="col-sm-12 col-xl-3 m-b-30">
								Staff Type: <label class="col-sm-3 col-form-label"></label>
							</div>

							<div class="form-group col-md-2">{{id}}</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="th3">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<div class="dt-responsive table-responsive">
							<table class="table table-hover table-bordered" id="simpletable">
								<thead class="btn-grd-primary">
									<tr>
										<th >S.no</th>
										<th >Employee Name</th>
										<th data-ng-repeat="x in calendarDetails">{{x.day|date:'dd-MM-yyyy' }}</th>
									</tr>
								</thead>   
								<tbody>
									<tr data-ng-repeat="emp in regdetails">
										<td >{{$index+1}}</td>
										<td >{{emp.first_name}}</td>
										<td >{{emp.login_time}}</td>

									</tr>         
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Data Table -->
<script
	src="/erp/files/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>



<script>
        $('#simpletable1').DataTable();    
    </script>

<script>
jQuery(document).ready(function() {
	
	$("#attendance").show();
	$("#display").hide();
	$("#th3").hide();
	
	
	angular.bootstrap(jQuery("#attendanceReportDiv"), [ 'attendanceReportModule' ]);
	
});   
</script>