
<script
	src="/erp/files/assets/js/erp-scripts/HRMS/Attendance/leavessummarydata.js"></script>

<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/assets/pages/data-table/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="/erp/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
<div id="LeaveSummaryReportDiv"
	data-ng-controller="LeavesSummaryReportController">

	<div id="attendance">
		<!-- BreadCrumb Start -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-block caption-breadcrumb">
						<div class="breadcrumb-header">
							<h5>Leaves Report</h5>
						</div>
						<div class="page-header-breadcrumb">
							<ul class="breadcrumb-title">
								<li class="breadcrumb-item"><a href="#!"> <i
										class="ti-home"></i>
								</a></li>
								<li class="breadcrumb-item"><a href="#!">HRMS</a></li>
								<li class="breadcrumb-item"><a href="#!">Attendance 
										Management</a></li>
								<li class="breadcrumb-item"><a href="#!">Leaves
										Summary Report</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- BreadCrumb End -->
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header bg-primary">
						<h6 class="card-title">Leave Summary</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm-12 col-xl-2 m-b-30">
						Financial year <label class="col-sm-3 col-form-label"></label>
					</div>
						<div class="col-sm-12 col-xl-3 m-b-30">
											<select class="form-control"
												data-ng-model="data.object.financial_year">
												<option></option>
												<option data-ng-repeat="financialyear in financialyears"
													value="{{financialyear.id}}">{{financialyear.name}}</option>
											</select>
										</div>
						
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xl-12 m-b-30 text-center">
		<button class="btn btn-default" style="margin-bottom: 15px;"
			value="submit" type="submit" id="s1"
			data-ng-click="GetLeavesSummaryReport(data.object);">Find</button>
	</div>
	</div>


	<div id="display">
		
	
	
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header"></div>
					<div class="card-body">
						<div class="dt-responsive table-responsive">
							<table class="table table-hover table-bordered" id="simpletable">
								<thead class="btn-grd-primary">
									<tr>
										<th >S.no</th>
										<th >Employee Name</th>
										<th >Employee Id</th>
										<th >Employee Type</th>
										<th >Quater</th>
										<th >Leaves Elgible</th>
										
										<th >Leaves Availed</th>
										<th >Leave Balance</th>
										
									</tr>
								</thead>   
								<tbody>
									<tr data-ng-repeat="emp in leavesummaryreport">
										<td >{{$index+1}}</td>
										<td >{{emp.name}}</td>
										<td >{{emp.designation_name}}</td>
										<td >{{emp.department_name}}</td>
										<td >{{emp.description}}</td>
										<td >{{emp.grade_name}}</td>
										
										<td >{{emp.reporting_to}}</td>
										
										<td >{{emp.leavetype}}</td>
									
										
										

									</tr>         
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<!-- Data Table -->
<script
	src="/erp/files/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/jszip.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/pdfmake.min.js"></script>
<script src="/erp/files/assets/pages/data-table/js/vfs_fonts.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script
	src="/erp/files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="/erp/files/assets/pages/data-table/js/data-table-custom.js"></script>



<script>
        $('#simpletable1').DataTable();    
    </script>

<script>
jQuery(document).ready(function() {
	
	$("#attendance").show();
	$("#display").hide();
	
	
	
	angular.bootstrap(jQuery("#LeaveSummaryReportDiv"), [ 'leavesSummaryReportModule' ]);
	
});   
</script>